<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>allChat</title>
    <!--jquery-emoji-->
    <link rel="stylesheet" href="/public/allChat/emoji/lib/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="/public/allChat/emoji/src/css/jquery.emoji.css" />
    <link href="/public/allChat/plus/css/jquery.popuplayer.css" rel="stylesheet">
    <link href="/public/allChat/plus/css/blower-loading.css" rel="stylesheet">
<link href="/public/dist/css/vendors.bundle-22d2bc1c93e6dac90403.css" rel="stylesheet"><link href="/public/dist/css/common.bundle-22d2bc1c93e6dac90403.css" rel="stylesheet"><link href="/public/dist/css/allChat.bundle-22d2bc1c93e6dac90403.css" rel="stylesheet"></head>

<div id="loadingWrap">
    <div id="loadingContainer">
        <div class="loadingbar">
            <div class="marker_container">
                <div class="marker"></div>
                <div class="marker"></div>
                <div class="marker"></div>
                <div class="marker"></div>
            </div>
            <div class="filler_wrapper">
                <div class="filler">
                    <span class="value">waiting...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<body>
    <div class="body" oncontextmenu="return false;" style="height:100vh">
        <header id="header">
            <img src="<%= avatar %>" alt="<%= username%>" title="<%= username%>">
            <span>allChat</span>
        </header>

        <div class="list-group" id="listPanel"></div>

        <div class="input-group" id="inputBox">
            <span class="input-group-btn">
                <div id="plusBtnWrap">
                    <button class="btn btn-default" id="emojiBtn" type="button">😊</button>
                    <button class="btn btn-default" id="plusBtn" type="button">➕</button>
                </div>
            </span>
            <!--<input type="text" class="form-control" id="inputText" placeholder="Search for...">-->
            <div contenteditable="true" class="form-control" id="inputText"></div>

            <span class="input-group-btn">
                <button class="btn btn-default" id="sendBtn" type="button">Go!</button>
            </span>
        </div>

        <div id="plusPanel">
            <label for="chooseImage">
                <i class="fa fa-photo" id="showImageBtn" aria-hidden="true"><span>图片</span></i>
            </label>
            <input id="chooseImage" type="file" style="display:none;">
            <label>
                <i class="fa fa-bar-chart" id="voteShow" aria-hidden="true"><span>投票</span></i>
            </label>
        </div>

        <div id="notification"></div>
    </div>
    <div class="infoMenuWrap">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                        heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.jQuery || document.write('<script src="/public/allChat/emoji/lib/script/jquery.min.js"><\/script>')
    </script>
    <!--jquery-emoji require start-->
    <!--(Optional) the js for jquery.mCustomScrollbar's addon-->
    <script src="/public/allChat/emoji/lib/script/jquery.mousewheel-3.0.6.min.js"></script>
    <!--the js for jquery.mCustomScrollbar-->
    <script src="/public/allChat/emoji/lib/script/jquery.mCustomScrollbar.min.js"></script>
    <!--the js for this plugin-->
    <script src="/public/allChat/emoji/src/js/jquery.emoji.js"></script>
    <!--jquery-emoji require end-->
    <script src="/public/allChat/js/myLoading.js"></script>
    <script src="/public/allChat/js/myTouchEvent.js"></script>
    <script>
        $("#inputText").emoji({
            button: "#emojiBtn",
            showTab: true,
            animation: 'slide',
            icons: [{
                name: "QQ表情",
                path: "/public/allChat/emoji/src/img/qq/",
                maxNum: 91,
                excludeNums: [41, 45, 54],
                file: ".gif",
                placeholder: "#qq_{alias}#"
            }, {
                name: "贴吧表情",
                path: "/public/allChat/emoji/src/img/tieba/",
                maxNum: 50,
                file: ".jpg",
                placeholder: "#tieba_{alias}#"
            }]
        }).on("input propertychange", function () {
            var height = $(this)[0].clientHeight,
                minHeight = parseInt($(this).css("minHeight"));
            var innerHtml = $(this).html();
            var breakLine = innerHtml.match(/\<div\>|\<br\>/g);
            breakLine = breakLine==null?0:breakLine;
            if (height > minHeight) {
                $("#sendBtn").css("height", height);
                $("#emojiBtn").css("height", height);
                $("#listPanel").css("height", "calc(100vh - 40px - " + height + "px)");
                $("#listPanel").animate({
                    scrollTop: $("#listPanel")[0].scrollHeight - $("#listPanel")[0].clientHeight
                }, 300);
            } else if (height < minHeight || breakLine < 1) {
                height = minHeight;
                $("#sendBtn").css("height", height);
                $("#emojiBtn").css("height", height);
                $("#listPanel").css("height", "calc(100vh - 40px - " + height + "px)");
            }
            if (breakLine < 1) {
                height = minHeight;
                $("#sendBtn").css("height", height);
                $("#emojiBtn").css("height", height);
                $("#listPanel").css("height", "calc(100vh - 40px - " + height + "px)");
            }
        })
        $("#emojiBtn").click(function (event) {
            setTimeout(function () {
                $(".emoji_container").css({
                    top: "",
                    bottom: $("#emojiBtn").css("height")
                });
            }, 1);
        })
    </script>
    <!-- underscroe -->
    <!-- <script src="/public/allChat/js/underscore-min.js"></script> -->
    <script type="text/template" id="message-template">
        <{ for(var i = data.length-1;i >= 0;i--){ }>
        <{ if(data[i].from != "<%= username %>") { }>
    <div class="message-list message-list-left">
        <div class="list-group-header">
            <img src="<{= data[i].avatar }>" class="avatar"/><em class="list-group-item-heading"><{= data[i].from }></em>
        </div>
        <div class="list-group-item">
            <i style="position: absolute" class="fa fa-menu-left"></i>
            <{ if(!!data[i].type && data[i].type == "image"){ }>
            <p class="list-group-item-text"><img src="<{= data[i].mediaId }>" data-imgurl="<{= data[i].mediaId }>" class="weixinServerImage weixinServerImageActive"></p>
            <{ }else{ }> 
            <p class="list-group-item-text"><{= data[i].content }></p>
            <{ } }>
        </div>
    </div>
    <{ }else { }>
    <div class="message-list message-list-right">
        <div class="list-group-header">
            <em class="list-group-item-heading"><%= username %></em><img src="<{= data[i].avatar }>" class="avatar"/>
        </div>
        <div class="list-group-item">
            <i style="position: absolute" class="fa fa-menu-right"></i>
            <{ if(!!data[i].type && data[i].type == "image"){ }>
            <p class="list-group-item-text"><img src="<{= data[i].mediaId }>" data-imgurl="<{= data[i].mediaId }>" class="weixinServerImage weixinServerImageActive"></p>
            <{ }else{ }> 
            <p class="list-group-item-text"><{= data[i].content }></p>
            <{ } }>
        </div>
    </div>
    <{ } }>
    <{ } }>
    </script>
    <script src="/public/allChat/js/myUtils.js"></script>
    <script src="/public/allChat/plus/js/jquery.popuplayer.js"></script>
    <!-- <script>
        //图像裁剪上传
        var cropboxHTML = `<div class="cropboxCloseWrap"><i class="cropboxClose">--</i><span>完成</span></div>
        <div class="imageBox">
            <div class="thumbBox"></div>
            <div class="spinner" style="display: none">Loading...</div>
        </div>
        <div class="imageBoxPrev">
            <div class="imageBoxAction"> 
                <div class="new-contentarea tc"> 
                    <a href="javascript:void(0)" class="upload-img">
                        <label for="upload-avatar">选择图像</label>
                    </a>
                    <input type="file" class="" name="upload-avatar" id="upload-avatar" />
                </div>
                <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
                <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
                <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
            </div>
            <div class="cropped"></div>
        </div>
        </div>`
        $('#showImageBtn').PopupLayer({
            content: cropboxHTML, // 内容，可以传入纯文本或类名或html
            target: "body", // 把弹出层添加到的目标节点
            to: "right", // 向哪个方向展开
            screenRatio: .5, // 占屏幕百分比
            blur: true, // 是否开启毛玻璃效果
            blurAreas: "#listPanel", //默认body > *
            color: "#000", // 文本颜色
            backgroundColor: "#eee", // 背景颜色
            contentToggle: false, // 点击content是否关闭弹出层
            // closeBtn: null,  // 指定关闭按钮
            // closeCallbackBefore: null,   //关闭前执行的函数
            // openCallback: null, // 展开的回调
            // closeCallback: null // 关闭的回调
        })
    </script> -->

<script type="text/javascript" src="/public/dist/js/vendors.22d2bc1c93e6dac90403.bundle.js"></script><script type="text/javascript" src="/public/dist/js/common.22d2bc1c93e6dac90403.bundle.js"></script><script type="text/javascript" src="/public/dist/js/allChat.22d2bc1c93e6dac90403.bundle.js"></script></body>

</html>