<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>sign in</title>
<link href="/public/dist/css/vendors.bundle-0216eb12183d78255184.css" rel="stylesheet"><link href="/public/dist/css/common.bundle-0216eb12183d78255184.css" rel="stylesheet"><link href="/public/dist/css/login.bundle-0216eb12183d78255184.css" rel="stylesheet"></head>

<body>
  <div class="container">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="userid" class="sr-only">UserID</label>
      <input type="text" id="userid" class="form-control" name="userid" placeholder="UserID" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-md btn-primary" type="button" id="submit">Sign in</button>
      <button class="btn btn-md btn-primary" type="button" id="register">Sign up</button>
    </form>
  </div>
  <div class="row">
    <div class="alert alert-warning alert-dismissible col-sm-offset-4 col-sm-4" style="display: none;margin-top: 10px;"
      role="alert" id="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" disabled="disabled"><span aria-hidden="true"
          id="alert-s1">&times;</span></button>
      <strong>Notice:&nbsp;</strong><span id="alert-s2"></span>
    </div>
  </div>
<script type="text/javascript" src="/public/dist/js/vendors.0216eb12183d78255184.bundle.js"></script><script type="text/javascript" src="/public/dist/js/common.0216eb12183d78255184.bundle.js"></script><script type="text/javascript" src="/public/dist/js/login.0216eb12183d78255184.bundle.js"></script></body>

</html>