<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>register</title>
<link href="/public/dist/css/vendors.bundle-ff6ae792da55e574c974.css" rel="stylesheet"><link href="/public/dist/css/common.bundle-ff6ae792da55e574c974.css" rel="stylesheet"><link href="/public/dist/css/register.bundle-ff6ae792da55e574c974.css" rel="stylesheet"></head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">allChat</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">Sign in</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label for="userid">UserID(不可更改)</label>
                    <input type="text" maxlength="16" class="form-control" id="userid" name="userid" placeholder="UserID(unique)">
                    <span class="check-icon"></span>
                </div>
                <div class="form-group">
                    <label for="username">Username(默认为UserID)</label>
                    <input type="text" maxlength="16" class="form-control" id="username" name="username" placeholder="Username">
                    <span class="check-icon"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" maxlength="20" class="form-control" id="password" name="password" placeholder="Password">
                    <span class="check-icon"></span>
                    <span class="glyphicon glyphicon-eye-open"></span>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="confirm Password">
                    <span class="check-icon"></span>
                    <span class="glyphicon glyphicon-eye-open"></span>
                </div>
                <div class="form-group">
                    <div class="help-block" style="text-align: center;"><a href="#" style="text-decoration: none;cursor: pointer;">Read me if you want</a></div>
                </div>
                <div style="text-align: center;"><button type="button" class="btn btn-default" id="submit" style="margin-left: -10px;" disabled="disabled">Sign Up</button>&nbsp;<button type="button" class="btn btn-default" id="signUp" style="margin-right: -10px;">Login</button></div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/dist/js/vendors.ff6ae792da55e574c974.bundle.js"></script><script type="text/javascript" src="/public/dist/js/common.ff6ae792da55e574c974.bundle.js"></script><script type="text/javascript" src="/public/dist/js/register.ff6ae792da55e574c974.bundle.js"></script></body>
</html>